{# Controls the layout for WriteUp type entries on home page #}


	{% for block in entry.assets %}

		{% if block.type == 'image' %}
			{% set show = block.showOnHomePage | length %}
			{% set image = block.image.first() %}
			{% if image | length and block.orientation == 'Horizontal' and show  %}
				<img src="{{ image.url(horizontal) }}" alt="{{ image.title }}">
			{% elseif image | length and block.orientation == 'Vertical' and show %}
				<img src="{{ image.url(vertical) }}" alt="{{ image.title }}">
			{% endif %}

		{% elseif block.type == 'video' %}
			{% set showVid = block.showOnHomePage | length %}
			{% set video = block.video %}
			{% if video | length and showVid %}
				<div class="vid-block">
					<iframe width="100%" height="315" src="//www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}

