<div class="grid_item">
	<div class="content_block">
		<h1 class="hdr2">{{ entry.title }}</h1>

		<ul class="work_meta">
			{% set seriesName = entry.parent('title') %}
			{% if seriesName is not null %}<li class="work_meta-item">{{ seriesName | widont }}</li>{% endif %}
			{% if entry.materials | length %} <li class="work_meta-item">{{ entry.materials | widont }}</li>{% endif %}
			{% if entry.dimensions | length %}<li class="work_meta-item">{{ entry.dimensions | widont }}</li>{% endif %}
		</ul>
		<div class="work_description">
			{{ entry.description | widont}}
		</div>
	</div>
</div>

<div class="media_container">

	<div class="grid_item--media">
		{% if entry.media | length %}
			<div class="media-block">
				{% for block in entry.media %}
					{% if block.type == 'firstColumn' %}
						{% set image = block.fcImage.first() %}
						{% if image | length %}
							<div class="img-block">
								<img src="{{ image.url }}" alt="{{ image.title }}">
								<div class="item-details">
									<p class="item-description">{{ image.caption | widont }}</p>
								</div>
							</div>
						{% endif %}
						{% set video = block.fcVideo %}
						{% if video | length %}
							<div class="vid-block">
								<iframe width="100%" height="315" src="//www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>

		{% endif %}
	</div>

	<div class="grid_item--media">
		{% if entry.media | length %}
			<div class="media-block">
				{% for block in entry.media %}
					{% if block.type == 'secondColumn' %}
						{% set image = block.scImage.first() %}
						{% set video = block.scVideo %}
						{% if image | length %}
							<div class="img-block">
								<img src="{{ image.url }}" alt="{{ image.title }}">
								<div class="item-details">
									<p class="item-description">{{ image.caption | widont }}</p>
								</div>
							</div>
						{% endif %}

						{% if video | length %}
							<div class="vid-block">
								<iframe width="100%" height="315" src="//www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>