<div class="grid_item">
	<div class="content_block">
		<h1 class="hdr2">{{ entry.title }}</h1>

		<ul class="work_meta">
			{% set seriesName = entry.parent('title') %}
			{% if seriesName is not null %}<li class="work_meta-item">{{ seriesName | widont }}</li>{% endif %}
			{% if entry.materials | length %} <li class="work_meta-item">{{ entry.materials | widont }}</li>{% endif %}
			{% if entry.dimensions | length %}<li class="work_meta-item">{{ entry.dimensions | widont }}</li>{% endif %}
		</ul>
		<div class="work_description">
			{{ entry.description | widont}}
		</div>
	</div>
</div>

<div class="media_container">
	<div class="grid_item--media">
		{% if entry.media | length %}
			<div class="media-block">
				{% for block in entry.media %}
					{{ include ('_partials/_media-block', {column: 'First'})  }}
				{% endfor %}
			</div>

		{% endif %}
	</div>

	<div class="grid_item--media">
		{% if entry.media | length %}
			<div class="media-block">
				{% for block in entry.media %}
					{{ include ('_partials/_media-block', {column: 'Second'})  }}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>