<div class="grid_item--text">
	<div class="content_block">
		<h1 class="hdr2">{{ entry.title }}</h1>
		<ul class="work_meta">
			{% set seriesName = entry.parent('title') %}
			{% if seriesName is not null %}<li class="work_meta-item">{{ seriesName | widont }}</li>{% endif %}
			{% if entry.materials | length %} <li class="work_meta-item">{{ entry.materials | widont }}</li>{% endif %}
			{% if entry.dimensions | length %}<li class="work_meta-item">{{ entry.dimensions | widont }}</li>{% endif %}
		</ul>
		<div class="wysi-text">
			{{ entry.body }}
		</div>
	</div>
</div>


	<div class="grid_item--text_media">
		{% if entry.assets | length %}
			<div class="media-block">
				{% for block in entry.assets %}
				{% include '_partials/_asset-block' %}
				{% endfor %}
			</div>

		{% endif %}
	</div>
