{#
 # Homepage template
 # ---------------#}

{% extends "_layout" %}
{% block content %}
	<div class="inset">
        <ul>
        {% set params = { section: 'portfolio, onTheRoad', type: ['project','writeUp'], order: 'postDate desc' } %}
        {% paginate craft.entries(params).limit(3) as entries %}
		{% for entry in entries %}
        <li class="grid_item">
            <a class="item" href="{{ entry.url }}">

            <div class="item-img-block">
                {% include 'home/' ~ entry.type %}
            </div>

            <div class="item-details">
                <p class="item-title">{{ entry.title }}</p>
                <p class="item-description">{{ entry.materials | widont }}</p>
				{{ entry.dimensions }}
            </div>

            </a>
        </li>
        {% endfor %}
        </ul>
	</div>

	<div class="page_nav">
		{% if paginate.prevUrl %}
		<a class="page_nav-item--left" href="{{ paginate.prevUrl }}"></a>
		{% endif %}
		{% if paginate.nextUrl %}
		<a class="page_nav-item--right" href="{{ paginate.nextUrl }}"></a>
		{% endif %}
	</div>
	{% endpaginate %}
{% endblock %}

{% block js %}{% endblock js %}
